@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  font-family: Nunito, sans-serif;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
